@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

#calculator {
  background-color: #000;
  height: 430px;
  width: 280px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#equation {
  background-color: #000;
  color: #fff;
  margin: 0px;
  border: 0px;
  text-align: right;
}

body {
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px;
  border-radius: 10px;
  background-color: #000;
  height: 580px;
  width: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.keypadButton {
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}

.operator {
  display: grid;
}

.calcBtn {
  margin: 5px;
  background-color: lightgray;
  color: #000;
  border-radius: 25px;
  height: 90px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
